###################
### Exclude all ###
###################
*
*/*


###################
###    Latex    ###
###################
!*.tex


####################
### Script & Doc ###
####################
!makefile
!*.sh
!*.md
!.gitignore

###################
###    Image    ###
###################
!*png
!*.svg
!*.jpg
!*.jpeg